.count {
  display: flex;
  align-items: center;
  margin-right: 15px;
  min-width: 65px;

  .piece {
    margin-right: 10px;
  }

  .cnt {
    font-size: larger;
    font-family: "Cinzel", serif;
  }
}