#control {
  height: calc(var(--table-padding) * 2 + var(--block-size) * 19);
  margin-left: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
}

.count {
  display: flex;
  align-items: center;
  margin-right: 15px;
  min-width: 65px;

  .piece {
    margin-right: 10px;
  }

  .cnt {
    font-size: larger;
    font-family: "Cinzel", serif;
  }
}