@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --block-size: 40px;
  --piece-size: 33px;
  --color-table-bg: #c8905b;
  --color-table-border: #000;
  --table-padding: 5px;
}

/* 整体 让棋盘不要有多余的线条 */
.row:first-of-type .block::before {
  border-right: none;
}
.row:last-of-type .block::after {
  border-left: none;
}
.block:first-of-type::before {
  border-bottom: none;
}
.block:last-of-type::after {
  border-top: none;
}
