.piece {
  width: var(--piece-size);
  height: var(--piece-size);
  display: block;
  border-radius: 50%;
  z-index: 10;
  transform: translate(0.5px, 0.5px);
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
